* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* header section */
.page-header {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-family: 'orbitron', sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
}

/* hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease;
}

.bar-middle {
  width: 85%;
  height: 3px;
  background-color: black;
  align-self: flex-end;
}

/* hamburger animation for active state */
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar-middle {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  display: flex;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  background-color: white;
  height: 250px;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.nav-menu a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.video-thumbnail {
  border-radius: 8px;
}

/* display navigation on mobile adn tablet */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: left 0.3s ease;
  }

  .nav-menu.active {
    left: 65%;
  }

  .nav-menu ul {
    flex-direction: column;
    padding: 20px;
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .nav-menu a {
    font-size: 1.2rem;
  }

  .media-gallery-main {
    display: flex;
    flex-direction: row;
    padding: 30px 10px 10px;
    gap: 20px;
  }

  .vertical-text {
    height: 400px;
    padding: 10px;
  }

  .vertical-text ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .vertical-text li {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .vertical-text a {
    opacity: 0.5;
    color: black;
    text-decoration: none;
  }

  a.selected {
    opacity: 1;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .vertical-text a:hover {
    opacity: 1;
  }

  .video-thumbnail {
    width: 300px;
    height: 185px;
  }

  .video-title {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  .section-media {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
